
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    display: flex;  
    flex-direction: column; 
    align-items: center;
    width: 100vw;
}

*{
    font-family: 'Inter';}



#header{
    padding: 4rem 7rem 3rem 7rem ;
    font-size: 2rem;
    color: white;
    background-color: black;
    background-image: url(images/banner-image.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-bottom: -2rem;
}

#feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0;
    color: #DFDDDD;
    padding-top: 5%;
}

/* #feed img{
    width: 10%;
} */

#header a{
    color: white;
    text-decoration: none;
}

.searchForm{
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Lines items up side-by-side with no artificial spacing */
  align-items: center;
  width: 50vw;
  height: 10vh;
  box-sizing: border-box;
}

form.searchForm input[type=text]{
    width: 80%;
    height: 100%;
    margin: 0px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #D1D5DB;
    font-size: 0.9rem;
    padding-left: 1rem;
    color: #6B7280;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

form.searchForm button{
    width: 20%;
    height: 100%;
    margin: 0px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #D1D5DB;
    background-color: #F9FAFB;
    font-weight: 500;
    font-size: 0.9rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

form.searchForm button:hover{
    background-color: gainsboro;
    cursor: pointer;
}

form.searchForm button::after{
    background-color: red;
    cursor: pointer;
}

.init-state, .empty-state{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*MOVIE CARD*/
 .movie_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
    border-bottom: 3px solid #DEDEDE;
    width: 100%;
    background-color: white; /* for testing*/
    padding-bottom: 2em;
}

.movie-poster{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} 

.movie-poster img{
  width: 10vw;
  height: 32vh;
}

.movie-description{
    display: flex;
    flex-direction: column;
    padding-right: 2%;
    padding-left: 2%;
}

.title-rating, .rating{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.title-rating{
    gap: 5%;
    color: black;
}

.rating{
    gap:20%;
}

.rating img{
    width: 30%;
    height: 30%;
}

.movie-details-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    
}

.movie-plot{
    color: gray;
}

.watchlist-btn-add img, .watchlist-btn-remove img{
    width: 12%;
    height: 12%;
}

.watchlist-btn-add, .watchlist-btn-remove {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    width: 20%;
}

.watchlist-btn-add:hover, .watchlist-btn-remove:hover {
    opacity: 0.7; /* Gives the user a visual response on hover */
}

/*WATCH LIST STYLING*/
#watchlist-feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0;
    color: #DFDDDD;
    padding-top: 5%;
}